header li{
	margin: 0px 20px;
}


nav{
	font-size: 20px;
}


header img{
	width: 130px;
}

.card-title{
    font-size: 25px;
    font-weight: bold;
}
.card{
    width: 30rem;
    font-size: 25px;
    margin-top: 60px;
    font-weight: bold;
}


.btn{
    font-size: 30px;
}


.card-button{
    display: flex;
    justify-content: space-between;
}