header li{
	margin: 0px 20px;
}


nav{
	font-size: 20px;
}


header img{
	width: 130px;
}


section img{
	width: 40vh;
}


.btn{
	margin-top: 10vh;
}


.table{
    font-size: 25px;
    border: 1px solid rgb(140 140 140);
}