* {
	text-align: center;
}


body,html{
	margin:0;
	height: 100%;
}

.fullscreen {
	margin: 0 !important;
	background-image: url("../img/login.jpg");
	position: fixed;
	opacity: 0.85;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	
}

.field {
	margin: 150px 0;
}

h1 {
	margin: 0 0 50px 0;
	font-size: 50px;
	color: white;
}

input {
	/*margin: 10px 0px;*/
	margin: 0 0 20px 0;
	width: 200px;
	height: 20px;
	font-size: 15px;
	border: 3px solid orange;
	border-radius: 5px
}

button {
	width: 80px;
	height: 40px;
	font-size: 20px;
}

.inputs {
	margin: 15px 0 15px 0;
}

#version {
	color: white;
	position: absolute;
	right: 15px;
	bottom: 0;
}

p {
	color: white;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: 
#fff;
    background: 
#111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: 
#000
}

.glow-on-hover:active:after {
    background: 
transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
#111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}