body,html{
    position: fixed; 
    left: 2%;
}


h1{
    font-size: 230%;
    line-height: 10%;
}


table{
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}


th{
    outline: 1px solid rgb(160 160 160);
    background-color: rgb(228 240 245);
    text-align: left;
    height: 30px;
}


td{
    outline: 1px solid rgb(160 160 160);
    text-align: left;
    width: 150px;
    height: 80px;
}


#version {
	color: black;
	position: fixed;
	right: 1%;
	bottom: 0;
    text-align: end;
}