body,html{
    position: fixed; 
    left: 2%;
}


h1{
    font-size: 230%;
    line-height: 10%;
}


table{
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}


th{
    outline: 1px solid rgb(160 160 160);
    background-color: rgb(228 240 245);
    text-align: center;
    height: 30px;
}


td{
    outline: 1px solid rgb(160 160 160);
    text-align: left;
    width: 150px;
    height: 80px;
}


.calenda{
    text-align: center;
    font-size: 25px;
    padding: 10px;
}


.month_picker{
    cursor: pointer;
    
}


.year_picker{
    display: flex;
    align-items: center;
}


.year_change{
    width: 300px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 200px;
    cursor: pointer;
}


#version {
	color: black;
	position: fixed;
	right: 1%;
	bottom: 0;
    text-align: end;
}