body,html{
    text-align: center;
}


h1{
    font-size: 290%;
    line-height: 10%;
}


button{
	font-size: 100%;
}


table{
    margin-left:auto; 
    margin-right:auto;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 300%;
}


th{
    background-color: rgb(228 240 245);
    text-align: left;
}


td{
    outline: 1px solid rgb(160 160 160);
    text-align: start;
}


.btn{
    text-align: center;
}


#version {
	color: black;
	position: fixed;
	right: 1%;
	bottom: 0;
    text-align: end;
}