body,html{
	height: 100%;
	padding: 0;
  	margin: 0;
}


.wrapper{
    min-height: 100%;
}


.header{
	padding: 10px;
  	background-color: rgb(199, 199, 249);
}


.title{
	font-size: 75px;
}


.img{
	float:right;
	width: 150px;
}


aside{
    position: absolute;
}


nav{
    font-size: 35px;
}

.main{
    text-align: center;
    padding: 15px;
}


table{
    font-size: 50px;
    border-spacing: 15px;
    margin-left: auto;
    margin-right: auto;
}


th {
    text-align: left;
}


.cpw{
    width: 500px;
    font-size: 40px;
}


.footer{
    position: absolute;
    bottom: 0;
	right: 20px;
	font-size: 20px;
}