body,html{
    position: fixed; 
    left: 2%;
}


h1{
    font-size: 230%;
    line-height: 10%;
}


.search , button{
    font-size: 170%;
    line-height: 100%;
}


table{
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 200%;
}


#time{
    text-align: center;
}


th{
    border: 2px solid rgb(160 160 160);
    background-color: rgb(228 240 245);
    text-align: left;
    width: 500px;
}


td{
    border: 2px solid rgb(160 160 160);
    text-align: right;
    width: 500px;
}


#version {
	color: black;
	position: fixed;
	right: 1%;
	bottom: 0;
    text-align: end;
}