<!DOCTYPE html>
<html>
    <head>
		<title>祐肯請假系統</title>
		<link rel="stylesheet" href="../css/admin.css">
		<link rel="icon" type="image/x-icon" href="../img/logo.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
	<body>
        <div id="card">
            <div id="profile">
                <p class="cardFont" id="employeeID"> 
                    010049-Tobydog
                </p>
            </div>
            <div id="time">
                <p class="cardFont" id="offTime">
                    請假時間：<br>2024/06/13 00:00:00 ~ 2024/06/14 00:00:00
                </p>
            </div>
            <div id="btn">
                <button id="approve">核可</button>
                <button id="disapprove">不核可</button>
            </div>
        </div>
	</body>
	
</html>
